<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<h1>ACS write example</h1>
<p class="lead">Basic request information dctm-rest system.</p>
<h2 class="mt-4">request information</h2>
<p>cabinet : {{cabinet}}</p>
<p>object_name : {{object_name}}</p>
<p>format : {{format}}</p>
<p>content-length : {{content-length}}</p>

<h2 class="mt-4">response information</h2>
<p>distributed-upload : {{distributed-upload}}</p>
